



/*Sub Menu*/

.padzero{
    padding:0px 8px;
}
 .para {
    border: 5px solid #716E6E;
    padding: 10px;
}
.menu-item {
  background: #fff;
  width: 100%; 
}
/*Menu Header Styles*/
.menu-item h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  background: #2987e5;
}
.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  padding-left: 20px;
}
/*Menu Header Styles*/
.menu-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
   
  /*Gradient*/
  background: #2987e5; /* Old browsers */
  
}
.menu-item h4:hover {  
  background: #00274e; /* Old browsers */
 
}
/*First Item Styles*/
.alpha p {
    font-size: 13px;
    padding: 8px 12px;
    color: #aaa;
}
/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
 
.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #00274E;
  display: block;
  width: 200px;
}
 
/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}
 
.menu-item li:hover {
  background: #eee;
}
/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px; /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
   
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}
.menu-item:hover ul {
  height: auto;
}
i.fa.fa-angle-double-down {
    float: right;
color: #2ee9b2;
}
.menu-item.alpha {
    margin: 0px 0px;
}
span.date {
    color: #2987e5;
}

.utpara p {
    padding-right: 20px;
}
footer.entry-footer {
    display: none;
}
/*Sub Menu*/



/*My Css*/
.header {
    background-color: #F7EDED;
}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #902424;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.footer {
    background-color: #B50E0E;
    border-radius: 10px;
}
.footer h1 a {
    color: #fff;
    font-size: 26px;
    font-weight: bolder;
}
.footer h3 a {
    color: #B7C8E8;
    text-decoration: none;
}
.mrq{
    background-color: #F7EDED;
    height: 40px;
}
.mrq h6 {
    font-size: 16px;
    color: goldenrod;
    text-transform: uppercase;
}

.btn {
    
    padding: 8px 15px;
}


